   .star {
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid yellow;
      }

      .star::after {
        content: "";
        position: absolute;
        top: 30px;
        left: -50px;
      }
      .star::after {
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid yellow;
        transform: rotate(180deg);
      }